<h3 class = "mb-3">コメント一覧</h3>

<% if review.comments.empty? %>
  コメントはまだありません。
<% else %>
  <div class="table-responsive">
    <table class = "table">
      <tbody>
        <% review.comments.each do |comment| %>
          <tr>
            <td><%= comment.comment %></td>
            <td><%= comment.user.name %></td>
            <td nowrap><%= link_to "削除", admin_comment_path(comment), method: :delete , data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger float-end", remote: true %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <div>
<% end %>