<div class = "container col-5 pt-5 mt-5 mb-5">

  <div class="text-center mt-5">
    <h1>退会しました</h1>
  </div>

  <div class="text-center mt-5">
    <p>～またのご利用をお待ちしております～</p>
    <p><%= link_to "TOPに戻る", root_path %></p>
  </div>
</div>