<div class = "container my-5">
  <div class="row justify-content-center">
    <div class="col-10">

      <div class="text-center mt-5">
        <h1>退会しました</h1>
      </div>
    
      <div class="text-center mt-5">
        <p>～またのご利用お待ちしております～</p>
        <p><%= link_to "TOPに戻る", root_path %></p>
      </div>
      
    </div>
  </div>
</div>