<h2>会員一覧</h2>

<table>
  <thead>
    <tr>
      <th>ユーザー名</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%=link_to user.name , user_path(user) %></td>
        <td><%= I18n.t("enums.user.local_person.#{user.local_person}") %></td>
      </tr>
    </tbody>
  <% end %>
</table>