<div class = "container col-5 mt-5 mb-5">

  <div class = "mt-4 mb-5">
    <h2>全てのユーザー</h2>
  </div>

  <table class="table border">
    <thead style="background-color: #ffe6ee;">
      <tr>
        <th class = "poster"></th>
        <th class = "text-center">ユーザー名</th>
        <th class = "text-center">レビュー数</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td class="poster">
            <% if user.local_person == "local" %>
              <h4 class="person_local"><%= I18n.t("enums.user.local_person.#{user.local_person}") %></h4>
            <% else %>
              <h4 class="person_traveler"><%= I18n.t("enums.user.local_person.#{user.local_person}") %></h4>
            <% end %>
          </td>
          <td class = "text-center"><h4><%=link_to user.name , user_path(user) %></h4></td>
          <td class = "text-center"><%= user.reviews.count %></td>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>