<h3 class = "mb-3">コメント一覧</h3>

<% if review.comments.empty? %>
  コメントはまだありません。
<% else %>
  <table class = "table">
    <tbody>
      <% review.comments.each do |comment| %>
        <tr>
            <td><%= comment.comment %></td>
            <td><%= comment.user.name %></td>
            <td><% if comment.user == current_user %>
                  <%= link_to "削除", review_comment_path(comment.review, comment), method: :delete , data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger float-end", remote: true %>
                <% end %>
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>