@use '~bootstrap/scss/bootstrap';

// userのindex,reviewのindex,favoriteのindexページのテーブルの列のレイアウト
.poster {
  border-right: 1px solid gray;
  width: 80px;
  text-align: center;
}

// 退会ページのボタン
.btn-fixed-width {
  width: 100px;
}

// プロフィールの地元マーク
.person_local {
  background-color: #669900;
  width: 80px;
  text-align: center;
  color: white;
}

.person_traveler {
  background-color: #FF9900;
  width: 80px;
  text-align: center;
  color: white;
}

header {
  width: 100%;
  height: 150px;
}