@use '~bootstrap/scss/bootstrap';

// userのindex,reviewのindex,favoriteのindexページのテーブルの列のレイアウト
.poster {
  border-right: 1px solid gray;
  width: 80px;
  text-align: center;
}

// userのindex,userのshow,mypage,reviewのindex,favoriteのindexページのテーブルの列の文字の中央揃え
.table-column {
  text-align: center;
}

// 退会ページのボタン
.btn-fixed-width {
  width: 100px;
}