@use '~bootstrap/scss/bootstrap';

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
  font-family: 'Open Sans', 'Kosugi', sans-serif;
  background-image: url('../images/back-image.jpg');
  background-size: cover;
}

.main {
  min-height: 60vh;
}

.col-10 {
  background-color: #ffffff;
}

// userのindex,reviewのindex,favoriteのindexページのテーブルの列のレイアウト
.poster {
  border-right: 1px solid gray;
  width: 80px;
  text-align: center;
}

.poster1 {
  border-right: 1px solid gray;
  width: 80px;
  text-align: center;
}

// 退会ページのボタン
.btn-fixed-width {
  width: 100px;
}

// プロフィールの地元マーク
.person_local {
  background-color: #669900;
  width: 80px;
  text-align: center;
  color: white;
}

.person_traveler {
  background-color: #FF9900;
  width: 80px;
  text-align: center;
  color: white;
}

// 星評価の数字のレイアウト
.star-count {
    position: absolute;
    top: 1px; /* 星の位置に対する調整 */
    right: -10px; /* 右方向への調整 */
    font-size: 12px; /* 数字を小さくする */
    color: #666; /* 任意の色に変更可能 */
  }




/*ページネーション自体のデザイン*/
.pagination>li>a {
  border: none;		/*枠線をなくす*/
  color: #696969;	/*文字の色を変える*/
}

  /* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #93c9ff;	   /*背景の色を変える*/
  border-radius: 15px;	   /*角を丸くする*/
}

  /*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;	  /*角を丸くする*/
}

/*地図のサイズ*/
#map {
  width: 100%;
  height: calc(100vh - 88px - 179px);
}

@media screen and (max-width:375px) {
  .hosi {
    font-size: 8px;
  }

  .hosi1 {
    font-size: 10px;
    padding-top: 8px;
  }

  #error_explanation{
    font-size: 10px;
  }
}