<div class="container text-center">

    <div class="row">
      <div class="col text-center">
            <p>
              当サイトへようこそ。
              このサイトは、北九州にあるご飯屋さんを紹介するレビューサイトです。<br>
              レビューは、地元民がお勧めしているお店かどうかが分かるようになっています。<br>
              地元の人が行くようなコアなお店を探しているのか、旅行者が入りやすいようなお店を探しているのか、<br>
              ご自身の状況に合わせて、このサイトをご活用いただければ幸いです。
            </p>
        </div>
    </div>
</div>