<div class = "container my-5">
  <div class="row justify-content-center">
    <div class="col-10">
      <div class = "text-center pt-5">
        <p>当サイトへようこそ。</p>
        <p>このサイトは、北九州にあるご飯屋さんを紹介するレビューサイトです。</p>
        <p>レビューは、地元民の投稿かどうかが分かるようになっています。</p>
        <p>地元の人が行くようなコアなお店を探しているのか、旅行者が入りやすいお店を探しているのか、</p>
        <p>ご自身の状況に合わせて、このサイトをご活用いただければ幸いです。
      </div>
    </div>
  </div>
</div>