<div class = "container col-6 mt-5 mb-5">
  <div class= "d-flex justify-content-center text-center mt-5 mb-4 pt-5">
    北九州のグルメレビューサイトです。<br>
    レビューはアカウント作成しなくても閲覧できます。<br>
    ぜひ、お試しで覗いていってみてください。<br>
  </div>
    
  <div class= "d-flex justify-content-center mt-5 mb-2">
    <%= link_to "GO！" , reviews_path ,class:"btn btn-info mb-3 custom-btn" %>
  </div>
  <div class= "d-flex justify-content-center mt-2">  
    ※レビュー投稿・いいね・コメントはアカウント作成が必要となります。
  </div>
</div>