<div class = "container my-5">
  <div class="row justify-content-center">
    <div class="col-10">
      <div class= "d-flex justify-content-center text-center pt-5">
        北九州のグルメレビューサイトです。<br>
        レビューはアカウント作成しなくても閲覧できます。<br>
        ぜひ、お試しで覗いていってみてください。<br>
      </div>

      <div class= "d-flex justify-content-center mt-5 mb-2">
        <%= link_to "GO！" , reviews_path ,class:"btn btn-info mb-3 custom-btn" %>
      </div>
      <div class= "d-flex justify-content-center">
        ※投稿・いいね・コメント・検索・マップはアカウント作成が必要となります。
      </div>
    </div>
  </div>
</div>