<div class="container text-center">

    <div class="row">
      <div class="col text-center">
            <p>
              北九州のグルメレビューサイトです。<br>
              レビューはアカウント作成しなくても閲覧できます。<br>
              ぜひ、お試しで覗いていってみてください。<br>
              
              <div class="btn-wrapper col-10 mx-auto">
                <div class="row">
                  <%= link_to "GO！" , reviews_path ,class:"btn btn-info mb-3 custom-btn" %>
                </div>
              </div>
              ※レビュー投稿・いいね・コメントはアカウント作成が必要となります。
            </p>
        </div>
    </div>
</div>